.welcome-section {
    max-width: 1540px;
    height: 550px;
    background-image: url(/img/main/first-section-bg.jpg);
    position: relative;
}

.welcome-section__card {
    width: 529px;
    height: 303px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    left: 185px;
    top: 113px;
}

.welcome-section__card-title {
    font-weight: 300;
    font-size: 40px;
    color: var(--black);
}

.welcome-section__card-paragraph {
    font-weight: 400;
    font-size: 16px;
    color: var(--gray);
    margin: 26px 0 34px;
    line-height: 25px;
}

.welcome-section__card-bottom-side {
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;
}

.free-trial-button_size {
    width: 250px;
    height: 58px;
}

.secure-logo {
    display: flex;
    align-items: center;
    gap: 13px;
    font-weight: 400;
    font-size: 11px;
    color: var(--gray);
    text-transform: uppercase;
}